mixin scoretable()
	div(class='scoretable')&attributes(attributes)
		div(class='scoretable_row')
			div(class='scoretable_cell scoretable_cell-title') Score
			div(class='scoretable_cell scoretable_cell-title') Time
			div(class='scoretable_cell scoretable_cell-title') Date
		div(class='scoretable_row')
			div(class='scoretable_cell') 123
			div(class='scoretable_cell') 1:23
			div(class='scoretable_cell') 15.05.23 12:04
		div(class='scoretable_row')
			div(class='scoretable_cell') 123
			div(class='scoretable_cell') 1:23
			div(class='scoretable_cell') 15.05.23 12:04
		div(class='scoretable_row')
			div(class='scoretable_cell') 123
			div(class='scoretable_cell') 1:23
			div(class='scoretable_cell') 15.05.23 12:04


