@use 'config' as *;

.scoretable {
	display: flex;
	grid-area: scoretable;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&_row {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: em(8);
		width: 100%;
		padding-block: em(8);
		border-bottom: em(1) solid rgba($color: $color-light, $alpha: 50%);
	}

	&_cell {
		text-align: center;
		font-size: em($size-font-small);

		&-title {
			text-transform: uppercase;
		}
	}
}
