@use 'config' as *;

.switch {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;

	&_title {
		text-align: center;
		font-size: 14px;
		line-height: 1;
	}

	&_input {
		width: 16px;
		height: 16px;
		accent-color: $color-primary;
	}
}
