@use 'src/styles/config' as *;

.button {
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	padding: em(10);
	border-radius: $size-border-radius;
	color: $color-dark-3xl;
	font-size: inherit;
	font-weight: $typography-weight-regular;
	line-height: 1;
	cursor: pointer;

	@include transition('filter');

	@include hover() {
		@include button-hover();
	}

	@include active() {
		filter: invert(80%);
	}

	&:disabled {
		color: $color-dark-s;
		pointer-events: none;
	}
}

.primary {
	background-color: $color-primary;
}

.active {
	background-color: $color-accent;
	color: $color-primary;
	pointer-events: none;
}
