@use 'src/styles/config' as *;

.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	font-size: inherit;
	line-height: 1;
	cursor: pointer;
	aspect-ratio: 1;

	@include transition('background-color');
}
