@use 'src/styles/config' as *;

.stat {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: em(8);
	user-select: none;
}

.label,
.counter {
	font-variant-numeric: tabular-nums;
	line-height: 1;
}

.label {
	font-size: em($size-font-small);
}
