@use 'config' as *;

.stat {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: em(8);

	&_title,
	&_number {
		font-variant-numeric: tabular-nums;
		line-height: 1;
	}

	&_title {
		font-size: em($size-font-small);
	}
}
