extends ../components/layout/index.pug

include ../components/button/index.pug
include ../components/range/index.pug
include ../components/wrapper/index.pug
include ../components/dashboard/index.pug
include ../components/field/index.pug
include ../components/cell/index.pug
include ../components/level/index.pug
include ../components/scoretable/index.pug
include ../components/stat/index.pug
include ../components/toggle/index.pug

prepend head
	- let pageTitle = '';

block body
	//- +wrapper()
		+dashboard()
			+range()
			+toggle('sound')
			+toggle('day/night')
			+stat('timer', 555)
			+stat('turns', 0)
			+stat('mines', 0)
			+button({text: 'New<br>Game'}, 'primary')(class='dashboard_button')
		+field()
		+level()
		+scoretable()
