extends ../components/layout/layout.pug

include ../components/case/case.pug
include ../components/key/key.pug
include ../components/textarea/textarea.pug
include ../components/footer/footer.pug

prepend head
  - let pageTitle = '';

block body
