extends ../components/layout/layout.pug

include ../components/wrapper/wrapper.pug
include ../components/dashboard/dashboard.pug
include ../components/field/field.pug
include ../components/cell/cell.pug
include ../components/level/level.pug
include ../components/scoretable/scoretable.pug

prepend head
	- let pageTitle = '';

block body
	+wrapper()
		+dashboard()
			+select()
		+field()
			each item in Array(625)
				+cell
		+level()
		+scoretable()
