extends ../components/layout/layout.pug

include ../components/button/button.pug
include ../components/range/range.pug
include ../components/wrapper/wrapper.pug
include ../components/dashboard/dashboard.pug
include ../components/field/field.pug
include ../components/cell/cell.pug
include ../components/level/level.pug
include ../components/scoretable/scoretable.pug
include ../components/stat/stat.pug
include ../components/sound/sound.pug

prepend head
	- let pageTitle = '';

block body
	+wrapper()
		+dashboard()
			+range()
			+sound()
			+button({text: 'New Game'}, 'primary')
			+stat('timer', 555)
			+stat('turns', 0)
			+stat('mines', 0)
		+field()
			each item in Array(625)
				+cell
		+level()
		+scoretable()
