extends ../components/layout/layout.pug

include ../components/button/button.pug
include ../components/range/range.pug
include ../components/wrapper/index.pug
include ../components/dashboard/index.pug
include ../components/field/index.pug
include ../components/cell/index.pug
include ../components/level/level.pug
include ../components/scoretable/scoretable.pug
include ../components/stat/stat.pug
include ../components/switch/switch.pug

prepend head
	- let pageTitle = '';

block body
	+wrapper()
		+dashboard()
			+range()
			+switch('sound')
			+switch('day/night')
			+stat('timer', 555)
			+stat('turns', 0)
			+stat('mines', 0)
			+button({text: 'New<br>Game'}, 'primary')(class='dashboard_button')
		+field()
		+level()
		+scoretable()
