@use 'config' as *;

.stat {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;

	&_title,
	&_number {
		font-variant-numeric: tabular-nums;
		line-height: 1;
	}
}
