mixin button(prop, ...modifier)
	- let {text, type = 'button', tag = 'button', href = '#'} = prop;
	if tag === 'a'
		- attributes.target = '_self';
		- attributes.rel = 'noopener noreferrer';
		- attributes.href = href;
	else
		- attributes.type = type;
	#{tag}(
		class=('button')
		class=(modifier.map(mod => `button__${mod}`))
		)&attributes(attributes)!= text
		block
