@use 'config' as *;

.button {
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	padding: em(5) em(10);
	color: $color-dark-3xl;
	font-size: inherit;
	font-weight: $typography-weight-regular;
	line-height: 1;
	cursor: pointer;

	@include transition('filter');

	@include hover() {
		@include button-hover();
	}

	@include active() {
		filter: invert(90%);
	}

	&__active {
		filter: invert(90%);
		pointer-events: none;
	}

	&__primary {
		background-color: $color-primary;
	}

	&__disabled {
		color: $color-dark-s;
		pointer-events: none;
	}
}
