@use 'sass:string';
@use 'functions' as *;
@use 'vars' as *;

@mixin hover($selector: null, $combinator: ' ') {
	@media (hover: hover) and (pointer: fine) {
		&:hover#{$combinator}#{$selector} {
			@content;
		}
	}
}

@mixin active() {
	&:active {
		@content;
	}
}

@mixin transition(
	$prop: all,
	$duration: $time-base,
	$timing: $easing-base) {
	transition-property: string.unquote($prop);
	transition-duration: $duration;
	transition-timing-function: $timing;
}

@mixin button-hover() {
	filter: sepia(60%);
}
