$size-font-base: 16;
$size-font-max: 20;
$size-font-small: $size-font-base * 0.8;
$time-base: 0.2s;
$time-short: 0.1s;
$size-border-radius: 4px;
$easing-base: ease-in-out;
$breakpoint: (
	's': 375,
	'm': 600,
	'l': 1000,
	'start': 500,
	'end': 1000,
);
