$size-font-base: 16;
$size-font-max: 20;
$size-font-small: $size-font-base * 0.8;
$typography-family-main: 'Roboto', sans-serif;
$typography-weight-regular: 400;
$color-crystal: rgb(255 255 255 / 0%);
$color-light: #fafafa;
$color-dark: #333;
$color-primary: #f1f3f5;
$color-accent: #54538f;
$color-light-xl: #fff;
$color-light-l: #f6f6f6;
$color-light-s: #fafafa;
$color-dark-l: #545454;
$color-dark-3xl: #292929;
$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-xl: #4c4c4c;
$time-base: 0.2s;
$time-short: 0.1s;
$size-border-radius: 4px;
$easing-base: ease-in-out;
$breakpoint: (
	's': 375,
	'm': 600,
	'l': 1000,
	'start': 500,
	'end': 1000,
);
