@use 'src/styles/config' as *;

.layout {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: $color-dark;
	color: $color-light;
	font-family: $typography-family-main;
	font-size: locks($size-font-base, $size-font-max);
	font-weight: 400;
}
