@use 'src/styles/config' as *;

.layout {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: $color-dark;
	color: $color-light;
	font-family: $typography-family-main;
	font-size: locks($size-font-base, $size-font-max);
	font-weight: 400;
}

.title {
	width: 100%;
	margin-bottom: 2em;
	text-align: center;
}

.img {
	display: block;
	width: 100%;
	max-width: 200px;
	height: auto;
}

.back,
.back1,
.back2 {
	width: 300px;
	background-color: rgb(207 81 123 / 79.5%);
	background-image: url('@assets/images/rendering.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	aspect-ratio: 1;
}

.back1 {
	background-image: url('@assets/images/RENDER.webp');
}

.back2 {
	background-image: url('@assets/images/plane.svg');
}

.icon {
	width: 200px;
	border: 1px solid #088;
	color: rgb(199 112 25);
}
