@use 'sass:map';
@use 'src/styles/config' as *;

.wrapper {
	display: grid;
	grid-template-areas:
		'dashboard'
		'field'
		'level'
		'scoretable';
	gap: to-em(16);
	width: 100%;
	max-width: map.get($breakpoint, 'end') + px;
	padding: to-em(16);

	@include breakpoint(m) {
		grid-template-areas:
			'field field field dashboard'
			'scoretable scoretable scoretable scoretable ';
		grid-template-columns: repeat(4, 1fr);
	}
}
