@use 'config' as *;

.layout {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 16px;
	background-color: #333;
	color: $color-light;
	font-family: $typography-family-main;
	font-weight: 400;
}
