- let data = require('../../data/data.json');

include ../button/button.pug
include ../select/select.pug

doctype html
html(lang='en' dir='ltr')
  head
    include ../head/head.pug

  body(class='layout')
    block body

    block script
      script(src=require('@scripts/main.js') defer)
