@use 'src/styles/config' as *;

.scoretable {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.row {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: to-em(8);
	width: 100%;
	padding-block: to-em(8);
	border-bottom: to-em(1) solid #fff;
}

.cell {
	text-align: center;
	font-size: to-em($size-font-small);
}

.title {
	text-transform: uppercase;
}
