@use 'src/styles/config' as *;

.field {
	display: grid;
	grid-template-rows: repeat(var(--size, 10), minmax(0, 1fr));
	grid-template-columns: repeat(var(--size, 10), minmax(0, 1fr));
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	aspect-ratio: 1;

	&[style='--size: 25'] {
		font-size: to-em(13);
	}

	&[style='--size: 15'] {
		font-size: to-em(20);
	}

	&[style='--size: 10'] {
		font-size: to-em(30);
	}
}
