@use 'config' as *;

.key {
	--size: 56px;

	display: flex;
	flex-shrink: 0;
	width: calc(var(--size) * var(--ratio, 1));
	height: var(--size);
	padding: 4px;

	&__button {
		display: flex;
		flex-shrink: 0;
		justify-content: center;
		align-items: center;
		width: 100%;
		max-width: 100%;
		overflow: hidden;
		border-radius: $size-border-radius;
		color: $color-light;
		font-size: 14px;
		font-weight: 600;
		cursor: pointer;

		@include transition($prop: 'background-color', $duration: $time-short);

		&:focus {
			outline: none;
		}

		&--default,
		&--arrow {
			background-color: $color-key-default;
		}

		&--modifier {
			background-color: $color-key-modifier;
		}

		&--active {
			background-color: $color-accent;
			animation-name: push;
			animation-duration: $time-short;
			animation-timing-function: linear;
			animation-fill-mode: forwards;
		}
	}
}

@keyframes push {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.95);
	}
}
