@use 'src/styles/config' as *;

.level {
	display: flex;
	grid-area: level;
	flex-direction: column;
	gap: em(8);
}

.title {
	text-align: center;
	font-size: em($size-font-small);
	line-height: 1;
}

.group {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: em(16);

	li {
		@include breakpoint(m) {
			width: 100%;
		}
	}

	@include breakpoint(m) {
		flex-direction: column;
		justify-content: end;
	}
}

.button {
	width: inherit;
	text-transform: capitalize;
}
