@use 'src/styles/config' as *;

.dashboard {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	gap: to-em(16);

	@include breakpoint(m) {
		flex-direction: column-reverse;
		justify-content: start;
		align-items: center;
	}
}
