@use 'config' as *;

.range {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
	font-size: small;

	&_title {
		text-align: center;
		line-height: 1;
	}

	&_select {
		width: 100%;
		accent-color: $color-primary;
	}
}
