@use 'src/styles/config' as *;

.toggle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: em(8);
	user-select: none;
}

.title {
	text-align: center;
	font-size: em($size-font-small);
	line-height: 1;
}

.input {
	width: em(16);
	height: em(16);
	accent-color: $color-primary;
}
